Import Libraries

In [1]:
import pandas as pd

Import Download of 2022 SAS File for BRFSS Data

In [2]:
df = pd.read_sas(r"C:\Users\nchas\Downloads\LLCP2022XPT\LLCP2022.XPT")

Explore Data Frame

In [3]:
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,b'02032022',b'02',b'03',b'2022',1100.0,b'2022000001',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,1.0,b'02042022',b'02',b'04',b'2022',1100.0,b'2022000002',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,1.0,1.0,b'02022022',b'02',b'02',b'2022',1100.0,b'2022000003',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
3,1.0,1.0,b'02032022',b'02',b'03',b'2022',1100.0,b'2022000004',2.022000e+09,1.0,...,3.0,2.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,9.0,9.0,2.0
4,1.0,1.0,b'02022022',b'02',b'02',b'2022',1100.0,b'2022000005',2.022000e+09,1.0,...,4.0,NaN,1.0,1.000000e+01,1.0,1.400000e+02,1.0,NaN,NaN,2.0

In [4]:
df.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENM1',
       ...
       '_SMOKGRP', '_LCSREC', 'DRNKANY6', 'DROCDY4_', '_RFBING6', '_DRNKWK2',
       '_RFDRHV8', '_FLSHOT7', '_PNEUMO3', '_AIDTST4'],
      dtype='object', length=328)

In [5]:
df.describe()

,_STATE,FMONTH,DISPCODE,_PSU,CTELENM1,PVTRESD1,COLGHOUS,STATERE1,CELPHON1,LADULT1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
count,445132.000000,445132.000000,445132.000000,4.451320e+05,96051.000000,96050.000000,19.0,96050.0,96052.000000,96050.000000,...,409670.000000,51453.000000,445132.000000,4.451280e+05,445132.000000,4.451320e+05,445132.000000,168419.000000,168419.000000,398897.000000
mean,31.005942,6.767667,1120.636800,2.022005e+09,1.000021,1.000198,1.0,1.0,1.999979,1.001718,...,3.456196,1.903932,2.243148,1.094561e+02,2.046278,1.142494e+04,1.952403,2.385313,2.572804,2.025465
std,16.652065,3.463248,40.469818,4.456324e+03,0.004563,0.014063,0.0,0.0,0.004563,0.041412,...,0.804281,0.294688,2.314231,2.715247e+02,2.525965,3.137973e+04,2.509682,2.709972,2.910744,1.663272
min,1.000000,1.000000,1100.000000,2.022000e+09,1.000000,1.000000,1.0,1.0,1.000000,1.000000,...,1.000000,1.000000,1.000000,5.397605e-79,1.000000,5.397605e-79,1.000000,1.000000,1.000000,1.000000
25%,18.000000,4.000000,1100.000000,2.022002e+09,1.000000,1.000000,1.0,1.0,2.000000,1.000000,...,3.000000,2.000000,1.000000,5.397605e-79,1.000000,5.397605e-79,1.000000,1.000000,1.000000,1.000000
50%,30.000000,7.000000,1100.000000,2.022004e+09,1.000000,1.000000,1.0,1.0,2.000000,1.000000,...,4.000000,2.000000,2.000000,7.000000e+00,1.000000,4.700000e+01,1.000000,1.000000,1.000000,2.000000
75%,46.000000,10.000000,1100.000000,2.022008e+09,1.000000,1.000000,1.0,1.0,2.000000,1.000000,...,4.000000,2.000000,2.000000,4.300000e+01,1.000000,6.000000e+02,1.000000,2.000000,2.000000,2.000000
max,78.000000,12.000000,1200.000000,2.022026e+09,2.000000,2.000000,1.0,1.0,2.000000,2.000000,...,4.000000,2.000000,9.000000,9.000000e+02,9.000000,9.990000e+04,9.000000,9.000000,9.000000,9.000000

Clean Data according to Risk Factors For Chronic Heart Conditions (Please See Paper for additional information)

In [58]:
#Risk Factors include: *High Blood Pressure, *High Cholesterol, Smoking, Diabetes, Obesity, 
#   Inactive Lifestyle, Drinking too Much Alcohol (>1-2 drinks per day), Age (Risk goes up as you age)
# Note * = not avaiable in data
#https://www.cdc.gov/heart-disease/risk-factors/index.html
heart_disease_df = df[['CVDCRHD4','_RFSMOK3','DROCDY4_','_BMI5CAT','_AGE_G','_TOTINDA','DIABETE4']]

In [59]:
#Clean Angia or Coronary Heart Disease (This will be the target variable)
heart_disease_df = heart_disease_df[heart_disease_df['CVDCRHD4'] <=3]
heart_disease_df['CVDCRHD4'] = heart_disease_df['CVDCRHD4'].apply(lambda x: 0 if x==1 else 1)
heart_disease_df.rename(columns={'CVDCRHD4':'AngiaOrCoronary'},inplace=True)

In [60]:
#Clean the Smoking Group Column, changing format to 0 = not a smoker, 1 = smoker
heart_disease_df = heart_disease_df[heart_disease_df['_RFSMOK3'] < 3]
heart_disease_df['_RFSMOK3'] = heart_disease_df['_RFSMOK3'].apply(lambda x: 0 if x == 1 else 1)
heart_disease_df.rename(columns={'_RFSMOK3':'Smoker'},inplace=True)

In [61]:
#Clean Number of Drinks per Day Column
heart_disease_df = heart_disease_df[heart_disease_df['DROCDY4_'] <= 899]
heart_disease_df['DROCDY4_'] = heart_disease_df['DROCDY4_'].dropna()
heart_disease_df.rename(columns={'DROCDY4_':'AlcoholicDrinksPerDay'},inplace=True)

In [62]:
#Clean BMI Column to be 0 for Non-Obese and 1 for Obese
heart_disease_df['_BMI5CAT'] = heart_disease_df['_BMI5CAT'].dropna()
heart_disease_df['_BMI5CAT'] = heart_disease_df['_BMI5CAT'].apply(lambda x: 1 if x == 4 else 0)
heart_disease_df.rename(columns={'_BMI5CAT':'Obese'},inplace=True)

In [63]:
#Clean Age Column by dropping non-respondents
#1 = 18-24, 2 = 25 to 34, 3 = 35 to 44, 4 = 45 to 54, 5 = 55 to 64, 6 = 65 or older
heart_disease_df.rename(columns={'_AGE_G':'Age'},inplace=True)

In [64]:
#Clean Physical Activity Column, 0 for no physical activity, 1 for physical activity within the past month
heart_disease_df = heart_disease_df[heart_disease_df['_TOTINDA'] < 3]
heart_disease_df['_TOTINDA'] = heart_disease_df['_TOTINDA'].apply(lambda x: 0 if x==2 else 1)
heart_disease_df.rename(columns={'_TOTINDA':'Exercise'},inplace=True)

In [65]:
#Clean Diabetes Column 0 for anything other then yes, 1 for having diabetes
heart_disease_df = heart_disease_df[heart_disease_df['DIABETE4'] < 5]
heart_disease_df['DIABETE4'] = heart_disease_df['DIABETE4'].apply(lambda x: 1 if x == 1 else 0)
heart_disease_df.rename(columns={'DIABETE4':'Diabetes'},inplace=True)

Cleaned Data Overview

In [66]:
heart_disease_df.describe()

,AngiaOrCoronary,Smoker,AlcoholicDrinksPerDay,Obese,Age,Exercise,Diabetes
count,390798.000000,390798.000000,3.907980e+05,390798.000000,390798.000000,390798.000000,390798.000000
mean,0.938920,0.119189,1.714664e+01,0.314692,4.381235,0.763968,0.137493
std,0.239478,0.324012,2.786340e+01,0.464394,1.616372,0.424643,0.344368
min,0.000000,0.000000,5.397605e-79,0.000000,1.000000,0.000000,0.000000
25%,1.000000,0.000000,5.397605e-79,0.000000,3.000000,1.000000,0.000000
50%,1.000000,0.000000,3.000000e+00,0.000000,5.000000,1.000000,0.000000
75%,1.000000,0.000000,2.000000e+01,1.000000,6.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000e+02,1.000000,6.000000,1.000000,1.000000

Export Cleaned Data to a Pickle File

In [67]:
heart_disease_df.to_pickle('clean_data.pkl')