Import Libraries

In [1]:
import pandas as pd

Import Download of 2022 SAS File for BRFSS Data

In [2]:
df = pd.read_sas(r"C:\Users\nchas\Downloads\LLCP2022XPT\LLCP2022.XPT")

Explore Data Frame

In [3]:
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,b'02032022',b'02',b'03',b'2022',1100.0,b'2022000001',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,1.0,b'02042022',b'02',b'04',b'2022',1100.0,b'2022000002',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,1.0,1.0,b'02022022',b'02',b'02',b'2022',1100.0,b'2022000003',2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
3,1.0,1.0,b'02032022',b'02',b'03',b'2022',1100.0,b'2022000004',2.022000e+09,1.0,...,3.0,2.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,9.0,9.0,2.0
4,1.0,1.0,b'02022022',b'02',b'02',b'2022',1100.0,b'2022000005',2.022000e+09,1.0,...,4.0,NaN,1.0,1.000000e+01,1.0,1.400000e+02,1.0,NaN,NaN,2.0

In [4]:
df.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENM1',
       ...
       '_SMOKGRP', '_LCSREC', 'DRNKANY6', 'DROCDY4_', '_RFBING6', '_DRNKWK2',
       '_RFDRHV8', '_FLSHOT7', '_PNEUMO3', '_AIDTST4'],
      dtype='object', length=328)

In [5]:
df.describe()

,_STATE,FMONTH,DISPCODE,_PSU,CTELENM1,PVTRESD1,COLGHOUS,STATERE1,CELPHON1,LADULT1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
count,445132.000000,445132.000000,445132.000000,4.451320e+05,96051.000000,96050.000000,19.0,96050.0,96052.000000,96050.000000,...,409670.000000,51453.000000,445132.000000,4.451280e+05,445132.000000,4.451320e+05,445132.000000,168419.000000,168419.000000,398897.000000
mean,31.005942,6.767667,1120.636800,2.022005e+09,1.000021,1.000198,1.0,1.0,1.999979,1.001718,...,3.456196,1.903932,2.243148,1.094561e+02,2.046278,1.142494e+04,1.952403,2.385313,2.572804,2.025465
std,16.652065,3.463248,40.469818,4.456324e+03,0.004563,0.014063,0.0,0.0,0.004563,0.041412,...,0.804281,0.294688,2.314231,2.715247e+02,2.525965,3.137973e+04,2.509682,2.709972,2.910744,1.663272
min,1.000000,1.000000,1100.000000,2.022000e+09,1.000000,1.000000,1.0,1.0,1.000000,1.000000,...,1.000000,1.000000,1.000000,5.397605e-79,1.000000,5.397605e-79,1.000000,1.000000,1.000000,1.000000
25%,18.000000,4.000000,1100.000000,2.022002e+09,1.000000,1.000000,1.0,1.0,2.000000,1.000000,...,3.000000,2.000000,1.000000,5.397605e-79,1.000000,5.397605e-79,1.000000,1.000000,1.000000,1.000000
50%,30.000000,7.000000,1100.000000,2.022004e+09,1.000000,1.000000,1.0,1.0,2.000000,1.000000,...,4.000000,2.000000,2.000000,7.000000e+00,1.000000,4.700000e+01,1.000000,1.000000,1.000000,2.000000
75%,46.000000,10.000000,1100.000000,2.022008e+09,1.000000,1.000000,1.0,1.0,2.000000,1.000000,...,4.000000,2.000000,2.000000,4.300000e+01,1.000000,6.000000e+02,1.000000,2.000000,2.000000,2.000000
max,78.000000,12.000000,1200.000000,2.022026e+09,2.000000,2.000000,1.0,1.0,2.000000,2.000000,...,4.000000,2.000000,9.000000,9.000000e+02,9.000000,9.990000e+04,9.000000,9.000000,9.000000,9.000000

Clean Data according to Risk Factors For Chronic Heart Conditions (Please See Paper for additional information)

In [4]:
#Risk Factors include: *High Blood Pressure, *High Cholesterol, Smoking, Diabetes, Obesity, 
#   Inactive Lifestyle, Drinking too Much Alcohol (>1-2 drinks per day), Age (Risk goes up as you age)
# Note * = not avaiable in data
heart_disease_df = df[['CVDCRHD4','_SMOKGRP','DROCDY4_','_BMI5CAT','_AGE_G','_TOTINDA','DIABETE4']]